@font-face {
  font-family: 'customFont';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


html{
  background: linear-gradient(to bottom, #1E1E1E,#000000);
  height: 100%;
}


.obsah{
    margin-left: 8px;
    margin-right: 8px;
    background-color: #1E1E1E;
    margin-top: -32px;
    padding-top: 1px;
    padding-bottom: 15px;
    width: 100%;
    width: -moz-available;   
    width: -webkit-fill-available; 
    height: 100%;
    height: -moz-available;   
    height: -webkit-fill-available; 
  }

html>*{
font-family: customFont;
color: white;
}

a[alt="dolny-bar-link"]{
text-decoration: none;
color: white;
transition: color .4s;
font-size: 150%;
margin-right: 3px;
}

a[alt="dolny-bar-link"]:hover{
text-decoration: none;
color: grey;
transition: color .4s;
font-size: 150%;
margin-right: 3px;
}